
<div class="container-fluid g-0">
  <!-- Header -->
  <app-header></app-header>
  <!-- Main -->
  <main>
    <!-- Toolbar for add and search employee -->
    <div class="Toolbar">
      <div class="add-employee">
        <button type="button" class="btn btn-outline-success btn-lg">Add Employee</button>
      </div>
      <div class="search-employee">
        <input type="search" class="form-control" placeholder="Search Employees">
      </div>
    </div>
    <!-- Area to display all employee -->
    <div class="employees">
      <div class="row mt-5">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic">There are No Employees Added!</span>
        </div>
      </div>
    <!-- This to check git hub -->
    </div>
  </main>
</div>